@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

:root {
    --primary: #03045E;
    --secondary: #00B4D8;
    --third: #0077B6;
    --main: #0000;
    --Second: #fff;
    --font1: 1.5rem;
}

header {
    margin-left: 20px;
    margin-right: 20px;
    bottom: 0;
}

.t-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.title {
    color: var(--third);
}

.left-nav {
    display: flex;
    flex-direction: column;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-menu ul a {
    text-transform: end;
    color: var(--third);
    text-decoration: none;
    margin: 0px 10px;
}

.t-cont {
    display: flex;
    align-content: center;
    justify-items: center;
}

.tb-num {
    display: flex;
    flex-direction: row;
}

.tb-num,
a,
p,
input {
    color: var(--third);
    margin: 0px 5px;
}

form .btn-search {
    color: var(--Second);
    background-color: var(--third);
    border: none;
    width: 30px;
}

form input {
    border: 1px solid var(--secondary);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

nav {
    background-color: var(--third);
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: var(--third);
}

nav a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav li:hover {
    background-color: var(--secondary);
    color: var(--Second);
}

nav a:hover {
    color: var(--Second);
}


/* Hide Dropdowns by Default */

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    /* the height of the main nav */
}


/* Display Dropdowns on Hover */

nav ul li:hover>ul {
    display: inherit;
}


/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 273px;
    float: none;
    display: list-item;
    position: relative;
}


/* Second, Third and more Tiers	*/

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}


/* Change this in order to change the Dropdown symbol */

li>a:after {
    content: ' +';
}

li>a:only-child:after {
    content: '';
}

.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
}

.switch>span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked~.off {
    color: var(--primary);
}

input.check-toggle-round-flat:checked~.on {
    color: #fff;
}

.switch>span.on {
    left: 0;
    padding-left: 2px;
    color: var(--primary);
}

.switch>span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.check-toggle-round-flat+label {
    padding: 2px;
    width: 100px;
    height: 45px;
    background-color: var(--secondary);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: var(--secondary);
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
    margin-left: 44px;
}

.pic-slider {
    height: 650px;
}

.pic-slider {
    background-color: #252525;
    background-image: url('https://images.unsplash.com/photo-1606761568499-6d2451b23c66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 120px;
    margin-left: 50px;
}

.hero-title h1 {
    letter-spacing: 3px;
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--secondary);
}

.hero-title h3 {
    font-size: 2rem;
    color: var(--Second);
}

.hero-title p {
    margin-top: 50px;
    font-size: 1rem;
    color: var(--Second);
}

.hero-btn {
    margin-top: 80px;
    color: var(--Second);
    width: 350px;
    height: 50px;
    border: none;
    background-color: var(--third);
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.Forum {
    font-size: var(--title1);
    border-bottom: 3px solid var(--secondary);
    width: fit-content;
    margin-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.Forum h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.news {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.news-img {
    height: 300px;
    width: 100%;
    transition: transform .25s ease;
    overflow: hidden;
}

.news-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.news-img img:hover {
    transform: scale(1.5);
}

.news-card {
    width: 400px;
    transition: transform .5s ease;
    padding: 20px;
    margin: 0px 20px;
    box-shadow: 1px 1px 10px #888888;
}

.news-title {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}

.news-card h4 {
    margin-top: 50px;
}

.news-card .readmore {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.d-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Second);
    background-color: var(--secondary);
    width: 100%;
    height: 90px;
}

.d-box {
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.db-left {
    display: flex;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--Second);
    height: 650px;
    width: 50%;
    padding: 20px;
    margin: 50px;
    background-color: var(--primary);
    cursor: pointer;
}

.db-left:hover {
    background-color: var(--secondary);
}

.db-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: 50px;
}

.d-box-c {
    display: flex;
    flex-direction: row;
}

.db-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0;
}

.db-detail p {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #000;
}

.d-box-c-l {
    display: flex;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: var(--Second);
    font-size: 2rem;
    width: 50%;
    height: 250px;
    margin-right: 10px;
}

.d-box-c-l:hover {
    background-color: var(--primary);
}

.d-box-c-r {
    display: flex;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--third);
    color: var(--Second);
    font-size: 2rem;
    width: 50%;
    height: 250px;
}

.d-box-c-r:hover {
    background-color: var(--secondary);
}

.btn-readmore {
    display: flex;
    justify-content: flex-end;
}

.btn-readmore a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
}

.btn-readmore a:hover {
    color: var(--secondary);
}

.btn-readmore i {
    color: var(--secondary);
    margin-right: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    height: 350px;
    width: auto;
    justify-content: space-between;
    margin: 150px 80px;
}

#map {
    height: 100%;
    width: 100%;
}

.ft-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
}

.ft-link {
    display: flex;
    flex-direction: row;
}

.ft-link li,
a {
    list-style: none;
    text-decoration: none;
}

.ft-social {
    margin-top: 50px;
    margin-left: 40px;
}

.ft-left {
    float: left;
    width: 50%;
}

.ft-right {
    float: right;
    width: 50%;
}

.credit-web {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third);
    height: 50px;
    width: 100%;
}

.credit-web p {
    color: var(--Second);
}

.credit-web i {
    margin-right: 5px;
}